<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.construction.app.cpms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondaryActivity"
            android:label="@string/title_activity_secondary"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".expenses.actiExpenses" />
        <activity
            android:name=".inventoryManagement.inventory_items_list"
            android:parentActivityName=".inventoryManagement.inventory_category_grid" />
        <activity android:name=".inventoryManagement.inventory_category_grid" />
        <activity
            android:name=".inventoryManagement.inventory_add_item"
            android:parentActivityName=".inventoryManagement.inventory_category_grid"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".inventoryManagement.inventory_request_item"
            android:parentActivityName=".inventoryManagement.inventory_items_list"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Plan.MainPlan" />
        <activity android:name=".Plan.addPlan" />
        <activity android:name=".Plan.newMainPlan" />
        android:windowSoftInputMode="adjustPan" />
        <activity android:name=".inventoryManagement.inventory_project_manager" />
        <activity android:name=".expenses.Expense_Category_List" />
        <activity android:name=".expenses.Expense_Add" />
        <activity android:name=".miscellaneous.addForumPost" />
        <activity android:name=".inventoryManagement.testParcel" />
        <activity android:name=".miscellaneous.editForumPost" />
        <activity android:name=".inventoryManagement.inventory_manager_panel" />
        <activity android:name=".inventoryManagement.testingActivity" />
        <activity
            android:name=".inventoryManagement.inventory_incoming_requests"
            android:parentActivityName=".inventoryManagement.inventory_manager_panel" />
        <activity
            android:name=".inventoryManagement.inventory_inspect_request"
            android:parentActivityName=".inventoryManagement.inventory_incoming_requests" />
        <activity android:name=".miscellaneous.chatRoomActivity" /> <!-- Top bar kept hiding, this fixed it. -->
        <activity android:name=".miscellaneous.ProfileActivity" />
        <activity android:name=".Plan.displayPlan" />
        <activity android:name=".miscellaneous.ComposeChatRoomActivity" />
        <activity android:name=".inventoryManagement.inventory_request_history" />
        <activity android:name=".expenses.editExpense" />
        <activity
            android:name=".inventoryManagement.inventory_edit_list"
            android:parentActivityName=".inventoryManagement.inventory_manager_panel" />
        <activity
            android:name=".inventoryManagement.inventory_edit_item"
            android:parentActivityName=".inventoryManagement.inventory_edit_list" />
        <activity android:name=".inventoryManagement.inventory_stock_low"></activity>
    </application>

</manifest>